<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'idle_app/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'idle_app/css/font-awesome/css/font-awesome.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'idle_app/css/login.css' %}"/>
</head>
<body>
{% block body %}
    <div style="height:10vh;"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="jumbotron text-center">
                        <h1>BitCoin Bros</h1>
                        <p>Now Logged Out!</p>
                    </div>
                </div>
                <div>
                    <form action="/idle_app/login">
                        <button id="login_button" class="btn btn-default btn-sm">Return to Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>