<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bitcoin Bros - Game</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'idle_app/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'idle_app/css/font-awesome/css/font-awesome.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'idle_app/css/game.css' %}" />

</head>
<body>
<div class="row" style="height: 2vh;"></div>
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 text-center">
            <span id="linking_code_icon" class="fa fa-link fa-lg" aria-hidden="true"></span>
            <label id="linking_code_label" class="label">Linking Code: </label>
            <input type="text" id="linking_code" class="input"
                value="{{ game_data.linking_code }}">

            <div id="items" class="bordered col-md-12 top-div">
                <h2>Items</h2>
                <ul>
                {% for item in game_data.items.username %}
                    <li id="item-{{ item }}" class="bordered item">
                        <span class="fa fa-{{ item }} fa-lg"></span>
                        Items: 1289
                        Upgrades: 12
                        <span class="fa fa-plus-square"></span>
                    </li>
                {% endfor %}
                </ul>
            </div>

        </div>
        <div class="col-md-3 text-center">
            <h2>Player</h2>

            <div id="player" class="bordered col-md-12 top-div">
                <div id="coins" class="stat">
                    <span class="col-md-3">
                        <span class="fa fa-btc fa-3x"></span>
                    </span>
                    <h5>1.22e12 Coins</h5>
                </div>
                <div id="time" class="stat">
                    <span class="col-md-3">
                        <span class="fa fa-clock-o fa-3x"></span>
                    </span>
                    <h5>{{ game_data.elapsed_time }} Minutes</h5>
                </div>
                <div id="mined" class="stat">
                    <span class="col-md-3">
                        <span class="fa fa-dot-circle-o fa-3x"></span>
                    </span>
                    <h5>4.5e12 Mined</h5>
                </div>
                <div id="rate" class="stat">
                    <span class="col-md-3">
                        <span class="fa fa-btc fa-3x"></span>
                    </span>
                    <h5>6.9e5 Coins/s</h5>
                </div>
            </div>


        </div>
        <div class="col-md-3 text-center">
            <h2>Partner</h2>

            <div id="partner_items" class="bordered col-md-12 top-div">
                <h2>Items</h2>
                <ul>
                {% for partner_item in game_data.items.username2 %}
                    <li id="item-{{ partner_item }}" class="bordered item">
                        <span class="fa fa-{{ partner_item }} fa-lg"></span>
                        Items: 1289
                        Upgrades: 12
                        <span class="fa fa-plus-square"></span>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-md-3 text-center">
            <div id="home_button" class="btn btn-default">
                <span class="fa fa-arrow-left fa-2x"></span>
                <h5>Return to home</h5>
            </div>

                <div id="partner" class="bordered col-md-12 top-div">
                <div id="partner_coins" class="stat">
                    <span class="col-md-3">
                        <span class="fa fa-btc fa-3x"></span>
                    </span>
                    <h5>1.22e12 Coins</h5>
                </div>
                <div id="partner_time" class="stat">
                    <span class="col-md-3">
                        <span class="fa fa-clock-o fa-3x"></span>
                    </span>
                    <h5>{{ game_data.elapsed_time }} Minutes</h5>
                </div>
                <div id="partner_mined" class="stat">
                    <span class="col-md-3">
                        <span class="fa fa-dot-circle-o fa-3x"></span>
                    </span>
                    <h5>4.5e12 Mined</h5>
                </div>
                <div id="partner_rate" class="stat">
                    <span class="col-md-3">
                        <span class="fa fa-btc fa-3x"></span>
                    </span>
                    <h5>6.9e5 Coins/s</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 text-center btm-div">
            <div id="clicker" class="bordered col-md-12">
                <h3>Click for Coins</h3>
                <div class="circled">
                    <span class="fa fa-btc fa-5x"></span>
                </div>
            </div>
        </div>
        <div class="col-md-6 text-center btm-div">
            <div id="perks" class="bordered col-md-12">
            <h3>Team Perks</h3>
            {% for perk in game_data.perks %}
                <span class="perk">
                    <span class="fa fa-snowflake-o fa-3x"></span>
                    <h6>Perk ..</h6>
                </span>
            {% endfor %}
            </div>
        </div>
        <div class="col-md-3">
            <div id="tips" class="bordered col-md-12 btm-div">
            <h3 class="text-center">Tips</h3>
            <ul>
            {% for tip in game_data.tips %}
                <li class="tip">{{ tip }}</li>
            {% endfor %}
            </ul>

            </div>
        </div>

    </div>
</div>
{% endblock %}
</body>
</html>