<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BitCoin Bros - Game</title>
	{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'idle_app/css/game2.css' %}"/>
</head>
<body class="site">

	<div class="link">
		linking code	
	</div>
	<div class="name1">
		player name
	</div>
	<div class="name2">
		partner name
	</div>
	<div class="home">
		home button
	</div>
	<div class="items1">
		player items
	</div>
	<div class="user">
		user details
	</div>
	<div class="coin">
		coin
	</div>
	<div class="partner">
		partner details
	</div>
	<div class="chat">
		chat window
	</div>
	<div class="items2">
		partner items
	</div>

</body>
</html>