<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>BitCoin Bros - Game</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'idle_app/css/game2.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'idle_app/css/font-awesome/css/font-awesome.min.css' %}"/>
	<!-- TODO remove ajax jquery dependency -->
	<script type="text/javascript" src="{% static 'idle_app/js/jquery-3.2.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'idle_app/js/csrf.js' %}"></script>
	<script type="text/javascript" src="{% static 'idle_app/js/knockout.js' %}"></script>
	<script type="text/javascript" src="{% static 'idle_app/js/knockoutDictionary.js' %}"></script>
	<link rel="shortcut icon" type="image/png" href="{% static 'Bitcoin.ico' %}"/>
	<script type="text/javascript">var saved_game = {
		"game": {
			"id": {{ saved_game.game.id }},
		},
		"me": {
			"wealth": {{ saved_game.me.wealth }},
			"mined": {{ saved_game.me.mined }},
			"name": '{{ request.user.username }}'
		},
		"my_stuff": {{ saved_game.my_stuff|safe }},
		"partner": {
			"name": '{{ saved_game.partner.user }}',
			//"timePlayed": {# saved_game.partner.timePlayed.minutes #},
			"wealth": {{ saved_game.partner.wealth }},
			"mined": {{ saved_game.partner.mined }}
		},
		"partners_stuff": {{ saved_game.partners_stuff|safe }},
	}</script>
</head>


<body class="site fullscreen">
	<div class="link">
		<span id="linking_code_icon" class="fa fa-link fa-lg" aria-hidden="true"></span>
		<label id="linking_code_label" class="label">Linking Code: </label>
		<input type="text" id="linking_code" class="input" value="{{ game_data.linking_code }}">
	</div>
	<div class="name1">
		<h2 data-bind="text: player.get('name')"></h2>
	</div>
	<div class="name2">
		<h2 data-bind="text: partner.get('name')"></h2>
	</div>
	<div class="home btn btn-default">
		<form action="/idle_app/landing">
			<button class="button" id="Landing">Return Home</button>
		</form>
	</div>
	<div class="items1">
		player items
	</div>
	<div class="user">
		<span class="moneyicon fa fa-btc fa-3x"></span>
		<h5 class="money" data-bind="text: formattedNumber(player.get('money')()) + ' Bitcoins'"></h5>
		<span class="timeicon fa fa-clock-o fa-3x"></span>
		<h5 class="time">{{ game_data.elapsed_time }} Minutes</h5>
		<span class="minnedicon fa fa-dot-circle-o fa-3x"></span>
		<h5 class="minned" data-bind="text: formattedNumber(player.get('minned')()) + ' Mined'"></h5>
		<span class="rateicon fa fa-btc fa-3x"></span>
		<h5  class="rate" data-bind="text: formattedNumber(totalPlayerIncome(),1) + '  Coins/s'"></h5>
	</div>
	<div class="coin">
	<h3>Click for Coins</h3>
	<img src="{% static 'idle_app/img/bitbutt.png' %}" style="max-width:70%; max-height:70%;"
		class="unselectable bitcoin_img" data-bind="click: incrementPlayer"/>
	</div>
	<div class="partner">
		<span class="moneyicon fa fa-btc fa-3x"></span>
		<h5 class="money" data-bind="text: formattedNumber(partner.get('money')()) + ' Bitcoins'"></h5>
	</div>
	<div class="chat">
		chat window
	</div>
	<div class="items2">
		partner items
	</div>

	<script type="text/javascript" src="{% static 'idle_app/js/game_items.js' %}"></script>
	<script type="text/javascript" src="{% static 'idle_app/js/viewModel.js' %}"></script>
	<script type="text/javascript" src="{% static 'idle_app/js/game.js' %}"></script>
</body>
</html>