<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Landing</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'idle_app/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'idle_app/css/font-awesome/css/font-awesome.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'idle_app/css/landing.css' %}"/>
</head>

<script>
    function linkCode() {
        var linkingCode = document.getElementById('linking_Code_Val').value;
        var url = "/idle_app/game/" + linkingCode;
        window.open(url)
    }
</script>

<body>
{% block body %}
    <div style="height:10vh;"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="jumbotron text-center">
                    <h1>BitCoin Bros</h1>
                    <p>{{ request.game.username }}</p>
                    <p>Welcome Back! </p>
                </div>
                <div id="join_game" class="bordered">
                        <div class="row">
                            <div class="col text-center">
                                <span id="linking_code_icon" class="fa fa-link fa-lg" aria-hidden="true"></span>
                                <label id="linking_code_label" class="label">Linking Code: </label>
                                <input type="text" id="linking_Code_Val" class="input" value="{{ default_linking_code }}"
                                >
                                </input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-center">
                                <form action="" method="get">
                                <button id="join_game_button" class="btn btn-default btn-sm" onclick="linkCode()"
                                >Join Game
                                </button>
                                </form>
                            </div>
                        </div>
                </div>
                <div id="options">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <form action="/idle_app/game/new">
                            <button id="create_game" class="btn btn-default btn-sm">Create New Game</button>
                            </form>
                            <button id="my_games" class="btn btn-default btn-sm">My Games</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">

                            <button id="leaderboard" class="btn btn-default btn-sm">Leaderboards</button>
                            <form action="/idle_app/logout">
                                <button id="logout" class="btn btn-default btn-sm">Logout</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>