<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'idle_app/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'idle_app/css/font-awesome/css/font-awesome.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'idle_app/css/login.css' %}" />
</head>
<body>
{% block body %}
<div style="height:10vh;"></div>
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form id="login_form">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <label id="username_label" class="col-md-3"><strong>Username</strong></label>
                                <input type="text" id="username" class="input-group-lg col-md-5" value="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group input-group-lg">
                            <label id="password_label" class="col-md-3"><strong>Password</strong></label>
                            <input type="password" id="password" class="input-sm col-md-5" value="">
                            <button type="submit" id="login_button" class="btn btn-default btn-sm col-md-3">Login</button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-md-12">
                    <label id="signup_label" class="col-md-3"><strong>New User</strong></label>
                    <button type="button" id="signup" class="btn btn-default btn-sm col-md-3">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>