<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'idle_app/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'idle_app/css/font-awesome/css/font-awesome.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'idle_app/css/sign_up.css' %}" />

</head>
<body>
{% block body %}
<div style="height:10vh;"></div>
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form id="sign_up_form">
                <div class="form-group">
                    <div class="input-group input-group-lg">
                        <label id="email_label" class="col-md-3"><strong>Email</strong></label>
                        <input type="email" id="email" class="input-group-lg col-md-5" value="">
                    </div>
                    <div class="input-group input-group-lg">
                        <label id="username_label" class="col-md-3"><strong>Username</strong></label>
                        <input type="text" id="username" class="input-group-lg col-md-5" value="">
                    </div>
                    <div class="input-group input-group-lg">
                        <label id="password_label" class="col-md-3"><strong>Password</strong></label>
                        <input type="password" id="password" class="input-group-lg col-md-5" value="">
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <button type="submit" id="sign_up_button" class="btn btn-default btn-sm col-md-5">Create Account</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>