@supports (display: grid) {

	.chat {
		grid-area: chat;
	}
	.coin {
		grid-area: coin;
	}
	.home {
		grid-area: home;
	}
	.items1 {
		grid-area: items1;
	}
	.items2 {
		grid-area: items2;
	}
	.link {
		grid-area: link;
	}
	.name1 {
		grid-area: name1;
	}
	.name2 {
		grid-area: name2;
	}
	.partner {
		grid-area: partner;
	}
	.user {
		grid-area: user;
	}

	.site {
		display: grid;
		grid-gap: 20px;
		padding: 20px;
	}

	@media screen{
		.site {
			grid-template-columns: 1fr;
			grid-template-areas:
				"home"
				"link"
				"name1"
				"user"
				"coin"
				"items1"
				"name2"
				"partner"
				"items2"
				"chat";
		}
	}

	@media screen and (min-width: 600px) {
		.site {
			grid-template-columns: 1fr 1fr;
			grid-template-areas:
				"link home"
				"items1 name1"
				"items1 user"
				"items1 coin"
				"items2 name2"
				"items2 partner"
				"items2 chat";
		}
	}

	@media screen and (min-width: 1000px) {
		.site {
			grid-template-columns: 1fr 1fr 1fr 1fr;
			grid-template-rows: 70px;
			grid-template-areas:
				"link name1 name2 home"
				"items1 user partner items2"
				"items1 coin chat items2";
		}
	}

}

.fullscreen {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: auto;
}