.bordered {
    border: solid 3px;
}
input {
    margin-bottom: 10px;
    padding-left: 5px;
    border: solid !important;
    border-color: #000;
}

#join_game {
    margin: 10px;
    padding: 20px;
}

h1 {
    color: black;
    text-align: center;
}

h2 {
    color: black;
    text-align: center;
}

.buttonCenter{
    text-align: center;
    margin: 0 auto;

}

.button {
    background-color: orange;
    color: white;
    padding: 10px 18px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
}

.button:hover{
    background-color: orangered;
}

.mainBox{
    background: rgba(54, 25, 25, .4);
}

.mainBanner {
    margin: 5px;
    padding: 20px;
}