input {
    border: solid !important;
    border-color: #000;
}
.button {
    background-color: #ff9900;
    color: white;
    padding: 10px 18px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    font-size: 18px;
}

.button:hover{
    background-color: orangered;
}

#login_button {
    margin: 0 auto;
    padding: 5px 50px;
    font-size: 18px;
}
#signup {
    margin: 0 auto;
    padding: 5px 50px;
    font-size: 16px;
}

h1 {
    color: black;
    text-align: center;
}

h2{
    margin: 0 auto;
    padding: 20px 20px;
}

.mainBanner{
    margin: 5px;
    padding: 20px;
}

.mainBox{
    background: rgba(54, 25, 25, .4);
}


.buttonCenter{
    text-align: center;
    margin: 0 auto;

}

#bg{
    background-size: 1920px 1080px;
    background-repeat: repeat;
    background-position: top;
    background-attachment: fixed;
}