input {
    border: solid !important;
    border-color: #000;
}

.button {
    background-color: #ff9900;
    color: white;
    padding: 10px 18px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    width: auto;
    font-size: 24px;
}

.button:hover{
    background-color: orangered;
}

h1 {
    color: black;
    text-align: center;
    padding: 20px 20px;
}

.mainBox{
    background: rgba(54, 25, 25, .4);
}

.mainBanner {
    margin: 5px;
    padding: 20px;
}

.buttonCenter{
    text-align: center;
    margin: 0 auto;

}