input {
    border: solid !important;
    border-color: #000;
    margin-bottom: 15px;
}
button {
    background-color: #ff9900;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

h1 {
    color: green;

}

.button {
    background-color: #ff9900;
    color: white;
    padding: 10px 18px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
}

.button:hover{
    background-color: orangered;
}

.mainBox{
    background: rgba(54, 25, 25, .4);
}

.mainBanner{
    margin: 5px;
    padding: 20px;
}

.buttonCenter{
    text-align: center;
    margin: 0 auto;

}

#bg{
    background-size: 1920px 1080px;
    background-repeat: repeat;
    background-position: top;
    background-attachment: fixed;
}