input {
    border: solid !important;
    border-color: #000;
    margin-bottom: 15px;
}
button {
    background-color: #422F50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

h1 {
    color: green;

}